<Label class="header" text="Titanium Evolve"/>
<PageContainer Y=2 width="$application.width" height="$application.height - 4" backgroundColour="red">
    <Page name="hub">

    </Page>
    <Page name="load">

    </Page>
    <Page name="create">

    </Page>
</PageContainer>

<Button id="close" text="Exit" X="$application.width - self.width - 1" width="$#self.text + 2" Y="$application.height - 1"/>
